.header {
  margin: 92px 50px 0 21px;
  display: grid;
  align-items: center;
  max-width: 1440px;
  text-underline-offset: 5px;
  justify-content: space-between;
  grid-template-columns: 1fr min-content 1fr;
}

.header_menu {
  display: flex;
  list-style-type: circle;
  font-size: 18px;
}

.header_menu > * {
  list-style-type: circle;
  display: flex;
  align-items: left;
}

.header_logo {
  width: 180px;
  height: 109px;
  display: flex;
  grid-column: 2;
  position: relative;
  justify-content: right;
}

.header_logo_image {
  justify-self: right;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 115%;
  line-height: 135%;
  text-align: left;
  font-family: Raleway, sans-serif;
  font-style: normal;
  max-width: 240px;
  justify-self: end;
}

.contacts ul {
  list-style-type: none;
}

.contacts ul li:first-child a {
  text-decoration: underline;
}

.link {
  text-decoration: none;
}

.line {
  width: 250px;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 757px;
  align-items: flex-end;
}

.cover_title {
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  z-index: 2;
  margin-top: 92px;
  flex-direction: column;
  color: #fff;
  row-gap: 20px;
  line-height: 115%;
  padding: 165px 50px 0px 50px;
  position: relative;
  letter-spacing: 0.3em;
  justify-content: flex-end;
}

.aligned_text {
  letter-spacing: 0.3em;
  word-spacing: 0;
}

.aligned_text_center {
  text-align: center;
  line-height: 100%;
  letter-spacing: 0.3em;
}

.aligned_text_right {
  margin-top: 6px;
  text-align: right;
  line-height: 84%;
  letter-spacing: 0.3em;
}

.letter_spacing_extended {
  letter-spacing: 0.6em;
}

.no_letter_spacing {
  letter-spacing: 0;
}

.cover_description {
  max-width: 1340px;
  display: flex;
  position: relative;
  justify-content: flex-end;
  margin: 122px 0 0 50px ;
  z-index: 2;
}

.cover_description_text {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
  font-weight: 400;
}

.bet_button {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  width: 257px;
  height: 52px;
  margin-left: 55px;
  margin-bottom: 0;
}

.letter_spacing_start {
  text-transform: lowercase;
  word-spacing: 0.3em;
  word-spacing: 0.6em;
}

.letter_spacing_end {
  letter-spacing: 60px;
  word-spacing: 0.3em;
  word-spacing: 0.6em;
}

.lots {
  margin: 180px 50px;
  display: block;
  max-width: 1340px;
}

.lots_heading {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 27px;
  padding-left: 40px;
  display: flex;
  justify-content: flex-start;
}

.lots_card_list {
  display: flex;
  max-width: 1340px;
  gap: 25px;
  flex-wrap: wrap;
  font-family: Raleway, sans-serif;
  flex-direction: row;
}

.lots_card_list_item {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
}

.card {
  color: #fff;
  font-family: Raleway, sans-serif;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  position: relative;
  justify-content: space-between;
  z-index: 0;
  width: 430px;
  min-height: 450px;
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.overlay {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 100px;
  inset: 0;
  background-color: rgb(
    0,
    0,
    0,
    0.6
  ); /* без указания прозрачности получаем черный фон */
  background-blend-mode: overlay;
}

.card_link {
  display: block;
  height: 100%;
  z-index: 1;
  text-decoration: none;
}

.card_title {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 26.4px */
  text-decoration-line: underline;
  text-transform: uppercase;
  z-index: 2;
  margin-top: 50px;
  margin-right: 40px;
  margin-left: 40px;
}

.card_text {
  font-size: 20px;
  text-align: bottom;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  z-index: 2;
  margin: 0 40px 50px 40px;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots_look_more_link {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  display: block;
  text-decoration: underline;
  margin-top: 30px;
  padding-left: 40px;
  text-underline-offset: 5px;
}

.about {
  margin-top: 220px;
  padding-left: 50px;
  padding-right: 50px;
  column-gap: 25px;
  align-items: top;
  display: grid;
  grid-template-columns: 430px 1fr;
  grid-template-rows: 34% 66%;
  justify-content: center;
}

.about_logo {
  margin: 0 95px 0 95px;
  background-color: black;
  width: 240px;
  height: 240px;
  align-self: center;
  display: flex;
  justify-content: center;
  grid-column-start: 1;
  border-radius: 50%;
}

.about_column {
  margin-top: 20px;
  max-width: 885px;
  grid-column: 2;
  display: flex;
  flex-direction: column;
}

.about_logo_image {
  width: 148px;
  height: 114px;
  justify-self: center;
  align-self: center;
}
  
.about_title {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: normal;
  color: #000;
}

.about_text {
  margin-top: 38px;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}

.about_text_section {
  padding-bottom: 7px;
}

.about_text_section:last-child {
  padding-bottom: 0; 
} 

.footer {
  display: flex;
  justify-items: top;
  margin: 162px 50px 90px 50px;
  align-items: top;
  max-width: 1440px;
  text-underline-offset: 5px;
  justify-content: space-between;
  grid-template-columns: 1fr min-content 1fr;
}

.menu {
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;  
  font-size: 110%;
  line-height: 120%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_social_list {
  min-width: 240px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  list-style: none;
}

.social_logo_image {
  max-width: 48px;
  max-height: 48px;
}

